html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

button {
    border: 0;
    text-align: center;
}

button:hover {
    border: 1px solid black;
}

#createPage {
    display: none;
}

#createPage form {
    margin: 0 auto;
    width: 330px;
}

#createPage form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#createPage form label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 20px;
}

#createPage form input, textarea {
    display: inline-block;
    width: 180px;
    text-align: left;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 100%;
}

#createBoardColumns {
    vertical-align: top;
}

#createBoardButton {
    margin: 10px auto;
    padding: 5px;
    width: 120px;
    display: block;
}

#createPage form .hint {
    font-size: 80%;
    font-style: italic;
}

#mainPage {
    display: none;
}

h1.title {
    text-align: center;
    padding: 10px;
    margin: 0 50px;
}

h2 {
    text-align: center;
    font-weight: normal;
    padding: 10px;
    margin: 0;
}

#connectionlost {
    visibility: hidden;
}

#connectionlost .blocker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

#connectionlost .message {
    position: fixed;
    top: 20px;
    border: 2px solid black;
    border-radius: 4px;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 1;
}

.main-toolbar {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 20px;
    right: 20px;
}

.main-toolbar button {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.toolbar {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 5px;
    opacity: 0;
}

.toolbar button {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.row-header button {
    margin-left: 5px;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 2px;
    border-radius: 4px;
    position: relative;
    border-left: 20px solid black;
}

.row > .toolbar {
    top: auto;
    left: -15px;
    bottom: 5px;
    opacity: 0;
}

.row:hover > .toolbar {
    opacity: 1;
}

.cell {
    display: flex;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    align-content: flex-start;
}

.cell > .toolbar {
    left: 5px;
    right: auto;
    z-index: 99;
}

.cell:hover > .toolbar {
    opacity: 1;
}

.cell.row-header:hover > .toolbar {
    opacity: 0;
}

.cell.row-header {
    min-width: 160px;
    flex-grow: 0;
    flex-shrink: 0;
}

.table-header .cell {
    text-align: center;
    display: block;
    font-weight: bold;
    margin: auto;
}

.table-header .cell.row-header {
    text-align: left;
    display: block;
}

.item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    touch-action: none;
    cursor: grab;
    transition: opacity 0.4s ease-in-out;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table;
}

.item:hover > .toolbar {
    opacity: 1;
}

.item > .toolbar {
    justify-content: flex-end;
    left: auto;
    right: 5px;
    z-index: 98;
}

.item.large {
    padding: 10px;
    margin: 5px;
    width: 130px;
}

.item .textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    resize: none;
    border: 0;
    color: inherit;
    font: inherit;
    display: table-cell;
    vertical-align: middle;
}

html, body {
    background-color: #ffffff;
    color: #333333;
}

.row {
    background-color: #f3f3f3;
    border-color: #dddddd;
}

.item {
    background-color: #dddddd;
}

.item.large {
    color: #fcfcfc;
}

.item.large.green {
    background-color: #859900;
}

.item.large.red {
    background-color: #dc322f;
}

.item.large.blue {
    background-color: #268bd2;
}

.table-header .row {
    background-color: #dddddd;
}

.table-header .cell {
    color: #fcfcfc;
}

h1.title {
    color: #333333;
}

h2 {
    color: #333333;
}

button.dark {
    background-color: transparent;
}

button.dark:hover {
    border-color: #333333;
}

button.light {
    background-color: transparent;
}

button.light:hover {
    border-color: #fcfcfc;
}

button.red {
    background-color: #dc322f;
}

button.green {
    background-color: #859900;
}

button.blue {
    background-color: #268bd2;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #002b36;
        color: #93a1a1;
    }

    .row {
        background-color: #073642;
        border-color: #586e75;
    }

    .item {
        background-color: #586e75;
        color: #93a1a1;
    }
    
    .item.large.green {
        background-color: #859900;
    }

    .item.large.red {
        background-color: #dc322f;
    }

    .item.large.blue {
        background-color: #268bd2;
    }

    .table-header .row {
        background-color: #586e75;
    }

    .table-header .cell {
        color: #93a1a1;
    }

    h1.title {
        color: #93a1a1;
    }

    h2 {
        color: #93a1a1;
    }

    button.dark {
        background-color: transparent;
    }

    button.dark:hover {
        border-color: #586e75;
    }

    button.light {
        background-color: transparent;
    }

    button.light:hover {
        border-color: #0a5163;
    }

    button.red {
        background-color: #dc322f;
    }

    button.green {
        background-color: #859900;
    }

    button.blue {
        background-color: #268bd2;
    }

    #connectionlost .message {
        color: #fdf6e3;
        background-color: #586e75;
        border-color: #93a1a1;
    }
}
